{% extends 'base.html' %}
{% block content %}

<h1>Movie List</h1>

{% for movie in movies %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ movie.name }}</span>
      <p>Genre: {{ movie.genre }}</p>
      <p>Series: {{ movie.series }}</p>
      <p>Location: {{ movie.location }}</p>
      {% if movie.days_rented > 0 %}
        <p>Days Rented: {{ movie.days_rented }}</p>
      {% else %}
        <p>In Stock</p>
      {% endif %}
    </div>
  </div>

{% endfor %}

{% endblock %}